:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 15px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.red-btn {
  background-color: tomato;
  color: white;
}

.info-btn {
  background-color: aqua;
  column-rule-color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.grey{
  background-color: grey;
  color: white;
}
.danger{
  background-color: tomato;
  color: white;
}

.choose-btn {
  background-color: #fff0e6;
}

.choose-btn:hover{
  border-radius: orange;
  background-color: #fed2b5;
}
/* position - relative, absolute, sticky, static, fixed */

.overlay{
position: fixed;
inset: 0;
background-color: rgba(0, 0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.content{
width: 400px;
height: 300px;
background-color: #fff;
border-radius: 20px;
padding: 20px;
}


/* выравнивание текста */

h4{
 margin-left: 300px;
 position: relative;
 top:-300px;
}
h3{
  margin-left: 20px;
  position: relative;
  top: -240px;
}
a{
  margin-left:690px;
  position: relative;
  top: -135px;
  color: rgb(100, 232, 100);
}
div{
  border-color: grey;
  background-color: rgb(247, 245, 245);
  border-radius: 24px;
  width: 900px;
  height: 320px;
}